body {
  background: #ccc;
}
.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 100px;
}
.card-top{
  color: black;
  max-height: 200px;
}

.img{
   object-fit: cover;
    width: 80%;
    border-radius: 50%;
    margin-left: 25px;
}
.card-bottom{
  color: black;
}