body {
  background-image: url("https://t4.ftcdn.net/jpg/02/43/11/95/360_F_243119507_sFqCazZfPjdC0EgHLJZ7ByUUJLDmweLf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 100px;
}

h1{
  color: white;
  font-size: 50px;

}

.para, .p{
  color: white;
  font-size: 15px;
}

.img{
  object-fit: cover;
   width: 55%;
   display: flex;
   margin: 0 auto;
   padding: 5px 0;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}